
1. Write a program to swap 2 numbers

In [1]:
a = 20
b = 10

print("Before Swapping:")
print(f"a: {a}")
print(f"b: {b}")

c = a
a = b
b = c

print("After Swapping:")
print(f"a: {a}")
print(f"b: {b}")

# Alternate Method

# a = a + b
# b = a - b
# a = a - b

# print("After Swapping:")
# print(f"a: {a}")
# print(f"b: {b}")

# Alternate Method

# a, b = b, a

# print("After Swapping:")
# print(f"a: {a}")
# print(f"b: {b}")

Before Swapping:
a: 20
b: 10
After Swapping:
a: 10
b: 20

2. Write a program to calculate sum of digits of given three digit number

In [2]:
def digitSum(num):
    sum = 0

    while(num):
        sum += num % 10
        num = num // 10
    return sum

print(digitSum(12345))

15

 3. Find if given number is even or odd

In [3]:
def evenOdd(num):
    if(num % 2 == 0):
        return "Even Number"
    else:
        return "Odd Number"

num = int(input("Enter a number: "))
print(evenOdd(num))

Enter a number: 56
Even Number

4. Print grade of student based on his marks (e.g. 76 is DISTINCTION 54 is SECOND CLASS 41 is
PASS CLASS)

In [4]:
marks = int(input("Enter Marks: "))

if(marks >= 76):
  print("DISTINCTION")
elif(marks >= 54):
  print("SECOND CLASS")
elif(marks >= 41):
  print("PASS CLASS")
else:
  print("FAIL")

Enter Marks: 84
DISTINCTION

5. Calculate factorial of number

In [5]:
def factorial(num):
    fact = 1
    for i in range(num, 0, -1):
        fact *= i
    return fact

num = int(input("Enter a number: "))
print(factorial(num))

Enter a number: 5
120

6. Find if given number is prime or not

In [6]:
def primeNum(num):

    for i in range(2, num):
        if(num % i == 0):
            return "Not a Prime Number"
    return "Prime Number"

num = int(input("Enter number: "))

print(primeNum(num))

Enter number: 100
Not a Prime Number

7. Write a program to reverse a list

In [7]:
names = ["Arya", "Rishi", "Yash", "Aman", "Namoh"]
print(names[::-1])

['Namoh', 'Aman', 'Yash', 'Rishi', 'Arya']

8. Write a program to add all even elements in list from 1 to 100

In [8]:
numbers = [i for i in range(1, 101)]
print(numbers)

sum = 0

for i in numbers:
  if i%2 == 0:
    sum += i

print(f"\nSum of even elements in the list: {sum}")

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

Sum of even elements in the list: 2550

9. Write a program to print all odd numbers from list

In [9]:
numbers = [i for i in range(1, 101)]
print(numbers)

sum = 0

for i in numbers:
  if i%2 != 0:
    sum += i

print(f"\nSum of odd elements in the list: {sum}")

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

Sum of odd elements in the list: 2500

10. Write a program to create a list of prime numbers from 2 to 100

In [10]:
def primeNum(num):

    for i in range(2, num):
        if(num % i == 0):
            return False
    return True

primeList = [i for i in range(2, 101) if primeNum(i)]

print(primeList)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

11. Remove duplicate elements from list

In [11]:
ele = [20, 30, 20, 50, 70, 50, 46, 43, 43]
ele2 = []

for i in ele:
  if i not in ele2:
    ele2.append(i)

print(f"Original List: {ele}")
print(f"List after removing duplicates: {ele2}")

Original List: [20, 30, 20, 50, 70, 50, 46, 43, 43]
List after removing duplicates: [20, 30, 50, 70, 46, 43]

12. From given list of strings create another list of strings having 2 or more vowels

In [12]:
names = ["Arya", "Rishi", "Yash", "Aman", "Namoh"]
ans = []

for i in names:
  count = 0
  for j in i.lower():
    if j in "aeiou":
      count += 1
  if count >= 2:
    ans.append(i)

print(ans)

['Arya', 'Rishi', 'Aman', 'Namoh']

13. Find out total count of prime numbers and odd numbers in given tuple

In [13]:
def primeNum(num):

    for i in range(2, num):
        if(num % i == 0):
            return False
    return True

def odd(num):

  if ((num %2) != 0):
    return True
  return False

count = 0

numbers = [a for a in range(1, 101)]
numbers = tuple(numbers)

print(numbers)
print(type(numbers))

for i in numbers:
  if(primeNum(i)):
    count += 1

print(f"Prime Numbers Count in the list: {count}")

count = 0

for i in numbers:
  if(odd(i)):
    count += 1

print(f"Odd Numbers Count in the list: {count}")

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100)
<class 'tuple'>
Prime Numbers Count in the list: 26
Odd Numbers Count in the list: 50

14. Write a program to reverse given string.

In [14]:
string = input("Enter something: ")

print(string[::-1])

Enter something: Today is a very good day.
.yad doog yrev a si yadoT

15. Write a program to find if given string is pangram (it should have all characters from a to z)

In [15]:
text = "The quick brown fox jumps over the lazy dog"

wordCount = set()

for i in text.lower():
  if i.isalpha():
    wordCount.add(i)

if(len(wordCount) == 26):
  print("The given string is pangram.")
else:
  print("The given string is not a pangram.")

The given string is pangram.

16. Write a program to find if given string is anagram (it should have same characters in any
rotation)

In [16]:
string1 = "python"
string2 = "typhon"

flag = 1

if(len(string1) != len(string2)):
  flag = 0
else:
  string1_dict = {}
  string2_dict = {}

  for i in string1:
    string1_dict[i] = string1.count(i)
  for i in string2:
    string2_dict[i] = string2.count(i)

  for i in string1_dict:
    if (i in string1_dict) and (i in string2_dict):
      if(string1_dict[i] != string2_dict[i]):
        flag = 0
        break
    else:
      flag = 0
      break

if(flag):
  print(f"{string1} and {string2} are Anagrams.")
else:
  print(f"{string1} and {string2} are not Anagrams.")

python and typhon are Anagrams.

17. Change the case of each vowel in given string (e.g. hEllo should be converted to hellO ,
uppercase should be converted to lower and vice versa)

In [17]:
string = "hEllo"
ans = ""

for i in string:
  if i in "aeiouAEIOU":
    if i.isupper():
      ans += i.lower()
    else:
      ans += i.upper()
  else:
    ans += i

print(string)
print(ans)

hEllo
hellO

18. Reverse every word in given sentence. ("hello world how are you" should be converted to
"olleh dlrow woh era uoy")

In [18]:
text = "hello world how are you"
ans = []
for i in text.split():
  ans.append(i[::-1])

print(" ".join(ans))

olleh dlrow woh era uoy

19. In cryptography, a Caesar cipher is a very simple encryption techniques in which each
letter in the plain text is replaced by a letter some fixed number of positions down the
alphabet.

For example, with a shift of 3, A would be replaced by D, B would become E, and
so on.

The method is named after Julius Caesar, who used it to communicate with his
generals. ROT-13 ("rotate by 13 places") is a widely used example of a Caesar cipher
where the shift is 13.

In Python, the key for ROT-13 may be represented by means of the
following dictionary:


key = {'a':'n', 'b':'o', 'c':'p', 'd':'q', 'e':'r', 'f':'s', 'g':'t', 'h':'u', 'i':'v', 'j':'w', 'k':'x', 'l':'y',
'm':'z', 'n':'a','o':'b',
'p':'c', 'q':'d', 'r':'e', 's':'f', 't':'g', 'u':'h', 'v':'i', 'w':'j', 'x':'k', 'y':'l', 'z':'m', 'A':'N',
'B':'O', 'C':'P', 'D':'Q','E':'R',
'F':'S', 'G':'T', 'H':'U', 'I':'V', 'J':'W', 'K':'X', 'L':'Y', 'M':'Z', 'N':'A', 'O':'B', 'P':'C', 'Q':'D',
'R':'E', 'S':'F', 'T':'G', 'U':'H', 'V':'I', 'W':'J', 'X':'K', 'Y':'L', 'Z':'M'}


Your task in this exercise is to implement an encoder/decoder of ROT-13.

Once you're
done, you will be able to read the following secret message:

Pnrfne pvcure? V zhpu cersre Pnrfne fnynq!

Note that since English has 26 characters, your ROT-13 program will be able to both
encode and decode texts written in English.

In [19]:
key = {'a': 'n', 'b': 'o', 'c': 'p', 'd': 'q', 'e': 'r', 'f': 's', 'g': 't', 'h': 'u', 'i': 'v', 'j': 'w', 'k': 'x', 'l': 'y', 'm': 'z', 'n': 'a', 'o': 'b', 'p': 'c', 'q': 'd', 'r': 'e', 's': 'f', 't': 'g', 'u': 'h', 'v': 'i', 'w': 'j', 'x': 'k', 'y': 'l', 'z': 'm',
       'A': 'N', 'B': 'O', 'C': 'P', 'D': 'Q', 'E': 'R', 'F': 'S', 'G': 'T', 'H': 'U', 'I': 'V', 'J': 'W', 'K': 'X', 'L': 'Y', 'M': 'Z', 'N': 'A', 'O': 'B', 'P': 'C', 'Q': 'D', 'R': 'E', 'S': 'F', 'T': 'G', 'U': 'H', 'V': 'I', 'W': 'J', 'X': 'K', 'Y': 'L', 'Z': 'M'}

def encode(text):
    encrypt = ""
    for i in text:
        if i not in key:
            encrypt += i
        else:
            encrypt += key[i]

    return encrypt

def decode(text):
    decrypt = ""
    for i in text:
        if i not in key:
            decrypt += i
        else:
            decrypt += key[i]

    return decrypt

string = input("Enter something: ")

print(f"Encoded String: {encode(string)}")
print(f"Decoded String: {decode(encode(string))}")

Enter something: Caesar cipher? I much prefer Caesar salad!
Encoded String: Pnrfne pvcure? V zhpu cersre Pnrfne fnynq!
Decoded String: Caesar cipher? I much prefer Caesar salad!